

/* 페이지네이션 */
.pagination {
  margin: 10px 10px 10px 10px;
  justify-content:center;
}

.pagination .page-link {
  color: #375a7f;
}

.pagination .active .page-link {
  background-color: #375a7f;
  color: white;
  border: none;
}
.page-link {
  font-size: 0.875rem;
  padding: 0.3rem 0.6rem;
}
.page-item {
  font-size: 0.875rem;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 1400px) {
  .page-link {
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
  }

  .page-item {
    font-size: 0.75rem;
  }
}

@media (max-width: 700px) {
  .page-link {
    font-size: 0.75rem !important;
    padding: 0.3rem 0.55rem !important;
  }
  .page-item {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 650px) {
  .page-link {
    font-size: 0.75rem !important;
    padding: 0.3rem 0.6rem !important;
  }
  .page-item {
    font-size: 0.75rem !important;
  }
}


